<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-title class="text-uppercase">
      <span *ngFor="let result of header">
          <span *ngIf="pageTitle == sportNamesFiltered[result]" class="active">{{sportNamesFiltered[result]}}</span>
          <span *ngIf="pageTitle != sportNamesFiltered[result]">{{sportNamesFiltered[result]}}</span>
      </span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="bg inside">
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let result of results">
        <ion-card class="cards">
          <ion-card-header>
            <h1 class="text-center">{{result.MatchTime | changeToLocalTime}} {{result.DisplayLeague}} </h1>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col col-3 *ngFor="let odd of result.Odds" class="cards-golf">
                  <ion-row>
                    <ion-col>
                      <h2 class="text-uppercase">{{odd.Participant.Name}}</h2>
                    </ion-col>
                    <ion-col>
                      <h2><span float-right>{{odd.MoneyLineHome | addPlusSign}}</span></h2>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
