<ion-header>
  <ion-navbar>
    <ion-title>
      Odds Board
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="bg">
  <span *ngFor="let result of results">
    <button ion-item (click)="menuClick(result)" *ngIf="sportNamesFiltered[result]">
      {{sportNamesFiltered[result]}}
    </button>
  </span>
  <button ion-item (click)="menuClick('settings')" >
    Settings
  </button>
</ion-content>
