<ion-header>
  <ion-navbar>
    <ion-title>Settings</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="bg inside">
  <ion-list>
    <ion-list-header>
      Show Odds for Sport
    </ion-list-header>
    <ion-item *ngFor="let result of sportNames|objectToArray">
      <ion-label>{{sportNames[result]}}</ion-label>
      <ion-toggle [(ngModel)]="sportNameSetting[sportNames[result]]" (ngModelChange)="update(sportNames[result], $event)"></ion-toggle>
    </ion-item>
  </ion-list>
  <ion-item-divider>
    
  </ion-item-divider>
  <ion-list>
    <ion-list-header>
      Autoslide Timing
    </ion-list-header>
    <ion-item>
      <ion-label>Milliseconds</ion-label>
      <ion-input type="text" [(ngModel)]="sportTimeSetting"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
