<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-title class="text-uppercase">
      <span *ngFor="let result of header">
          <span *ngIf="pageTitle == sportNamesFiltered[result]" class="active">{{sportNamesFiltered[result]}}</span>
          <span *ngIf="pageTitle != sportNamesFiltered[result]">{{sportNamesFiltered[result]}}</span>
      </span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="bg inside">
  <ion-grid [ngClass]="scrollingVarible">
    <ion-row>
      <ion-col col-4 *ngFor="let result of results">
        <ion-card class="cards">
          <ion-card-header>
            <h1 class="text-center">{{result.MatchTime | changeToLocalTime}} {{result.Details}} </h1>
          </ion-card-header>
          <ion-card-content>
            <ion-grid *ngIf="result.Odds[0]">
              <ion-row>
                <ion-col class="text-uppercase">
                  <h3>{{result.Odds[0].OddType | addSpaceBeforeCap  }}</h3>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-2 *ngIf="result.AwayROT">
                  <h2 class="text-uppercase">BET#</h2>
                </ion-col>
                <ion-col col-4>
                  <h2 class="text-uppercase">Teams</h2>
                </ion-col>
                <ion-col col-3 *ngIf="result.Odds[0].PointSpreadAway != 0 && result.Odds[0].PointSpreadHome != 0">
                  <h2 class="text-uppercase" float-right>Point Spread</h2>
                </ion-col>
                <ion-col>
                  <h2 class="text-uppercase" float-right>Moneyline</h2>
                </ion-col>
                <ion-col *ngIf="result.Odds[0].OverLine != 0 && result.Odds[0].UnderLine != 0">
                  <h2 class="text-uppercase" float-right>Total</h2>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-2 *ngIf="result.AwayROT">
                  <p class="red">{{result.AwayROT}}</p>
                </ion-col>
                <ion-col col-4>
                  <p class="primary text-uppercase">{{result.AwayTeam}}<small *ngIf="result.AwayPitcher"><br />(P) {{result.AwayPitcher}}</small></p>
                </ion-col>
                <ion-col col-3  *ngIf="result.Odds[0].PointSpreadAway != 0 && result.Odds[0].PointSpreadHome != 0">
                  <p class="primary" float-right>{{result.Odds[0].PointSpreadAway | addPlusSign}}</p>
                </ion-col>
                <ion-col>
                  <p class="primary" float-right>{{result.Odds[0].MoneyLineAway | addPlusSign}}</p>
                </ion-col>
                <ion-col *ngIf="result.Odds[0].OverLine != 0 && result.Odds[0].UnderLine != 0">
                  <p class="primary" float-right>{{result.Odds[0].TotalNumber}}({{result.Odds[0].OverLine | addPlusSign}})o</p>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-2 *ngIf="result.AwayROT">
                  <p class="red">{{result.HomeROT}}</p>
                </ion-col>
                <ion-col col-4 class="primary">
                  <p class="primary text-uppercase">{{result.HomeTeam}}<small *ngIf="result.HomePitcher"><br />(P) {{result.HomePitcher}}</small></p>
                </ion-col>
                <ion-col col-3  *ngIf="result.Odds[0].PointSpreadAway != 0 && result.Odds[0].PointSpreadHome != 0">
                  <p class="primary" float-right>{{result.Odds[0].PointSpreadHome | addPlusSign}}</p>
                </ion-col>
                <ion-col>
                  <p class="primary" float-right>{{result.Odds[0].MoneyLineHome | addPlusSign}}</p>
                </ion-col>
                <ion-col *ngIf="result.Odds[0].OverLine != 0 && result.Odds[0].UnderLine != 0">
                  <p class="primary" float-right>{{result.Odds[0].TotalNumber}}({{result.Odds[0].UnderLine | addPlusSign}})u</p>
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-grid *ngIf="result.Odds[1]">
              <ion-row>
                <ion-col class="text-uppercase">
                  <h3>{{result.Odds[1].OddType | addSpaceBeforeCap}}</h3>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-2 *ngIf="result.AwayROT">
                  <h2 class="text-uppercase">BET#</h2>
                </ion-col>
                <ion-col col-4>
                  <h2 class="text-uppercase">Teams</h2>
                </ion-col>
                <ion-col col-3  *ngIf="result.Odds[1].PointSpreadAway != 0 && result.Odds[1].PointSpreadHome != 0">
                  <h2 class="text-uppercase" float-right>Point Spread</h2>
                </ion-col>
                <ion-col>
                  <h2 class="text-uppercase" float-right>Moneyline</h2>
                </ion-col>
                <ion-col *ngIf="result.Odds[1].OverLine != 0 && result.Odds[1].UnderLine != 0">
                  <h2 class="text-uppercase" float-right>Total</h2>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-2 *ngIf="result.AwayROT">
                  <p class="red">{{result.AwayROT}}</p>
                </ion-col>
                <ion-col col-4>
                  <p class="secondary text-uppercase">{{result.AwayTeam}}<small *ngIf="result.AwayPitcher"><br />(P) {{result.AwayPitcher}}</small></p>
                </ion-col>
                <ion-col col-3  *ngIf="result.Odds[1].PointSpreadAway != 0 && result.Odds[1].PointSpreadHome != 0">
                  <p class="secondary" float-right>{{result.Odds[1].PointSpreadAway | addPlusSign}}</p>
                </ion-col>
                <ion-col>
                  <p class="secondary" float-right>{{result.Odds[1].MoneyLineAway | addPlusSign}}</p>
                </ion-col>
                <ion-col *ngIf="result.Odds[1].OverLine != 0 && result.Odds[1].UnderLine != 0">
                  <p class="secondary" float-right>{{result.Odds[1].TotalNumber}}({{result.Odds[1].OverLine | addPlusSign}})o</p>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-2 *ngIf="result.AwayROT">
                  <p class="red">{{result.HomeROT}}</p>
                </ion-col>
                <ion-col col-4>
                  <p class="secondary text-uppercase">{{result.HomeTeam}}<small *ngIf="result.HomePitcher"><br />(P) {{result.HomePitcher}}</small></p>
                </ion-col>
                <ion-col col-3  *ngIf="result.Odds[1].PointSpreadAway != 0 && result.Odds[1].PointSpreadHome != 0">
                  <p class="secondary" float-right>{{result.Odds[1].PointSpreadHome | addPlusSign}}</p>
                </ion-col>
                <ion-col>
                  <p class="secondary" float-right>{{result.Odds[1].MoneyLineHome | addPlusSign}}</p>
                </ion-col>
                <ion-col *ngIf="result.Odds[1].OverLine != 0 && result.Odds[1].UnderLine != 0">
                  <p class="secondary" float-right>{{result.Odds[1].TotalNumber}}({{result.Odds[1].UnderLine | addPlusSign}})u</p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
