page-sports {

  .zero-scroll{
    transform: translateY(0px);
  }

  @for $i from 1 through 10 {

    $h: -1005 * $i;

    .zero-scroll-#{$i} {
      transform: translateY($h + px);
    }
  }

  .header .toolbar-background{
    background: #000;
    color:#FFF;
    border-bottom:1px solid grey;
  }
  .header .back-button, .header .title .toolbar-title{
    color:#FFF;

  }

  .header .title .active{
    background: #FFF;
    color:#000;
    border-radius: 10px;
    padding:2px 7px;
  }
  .header .title span{
    margin:0px 10px;
  }
  .card{
    background:#000;
    color:#FFF;
    height:305px;
  }
  .card-header{
    padding:0px;

    h1{
      color:green;
      font-size:0.20in;
      text-transform: uppercase;
    }
  }
  .cards{
    .card-content{
      padding:0px;
    }
    h2{
      color:white;
      font-size: 0.18in;
      margin:0;
      padding:0;
    }
    h3{
      color:#888;
      font-size: 0.18in;
      border-bottom:1px solid #888;
      padding:10px 0px;
    }
    p{
      color:white;
      font-size: 0.18in;
      margin:0;
      padding:0;
      line-height: 1;
    }
    small{
      font-size: 0.125in;
      display: none;
    }
    .red{
      color:red;
    }
    .primary{
      color:#ffffcc;
    }
    .secondary{
      color:#ccffff;
    }
  }
}
